{% extends 'layout.html' %} {% block head %}
<title>Osun State Teachers Recruitment | Form</title>
{% endblock %} {% block body %}

<body>
  <!-- banner -->
  <div class="banner-agile-2">
    <!-- navigation -->
    <div class="navigation-w3ls"></div>
  </div>
  <!-- breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Osun State Teacher's Recruitment Application Form
      </li>
    </ol>
  </nav>
  <!-- breadcrumb -->
  <!-- //banner -->

  <!-- admission form -->
  <div class="form-w3l py-5">
    <div class="container py-xl-5 py-lg-3">
      <h3
        class="title text-capitalize font-weight-light text-dark text-center mb-5"
      >
        Osun State Teacher's Recruitment Application
        <span class="font-weight-bold">form</span>
      </h3>
      <div class="register-form pt-md-4">
        <form action="{{ url_for('form') }}" method="POST">
          {{ form.hidden_tag() }}

          <div class="form-group">
            {{ form.photo_path.label(class="form-control") }} {{
            form.photo_path(class="form-control", title="photo_path",
            required="required") }} {% for error in form.photo_path.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="styled-input form-group">
            {{ form.name.label(class="form-control") }} {{
            form.name(class="form-control", required="required") }} {% for error
            in form.name.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            <!-- Error message -->
            {% with messages = get_flashed_messages(with_categories=true) %} {%
            if messages %}
            <ul class="flashes">
              {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %} {% endwith %}
            <!-- //Errormessage -->
          </div>

          <div class="styled-input form-group">
            {{ form.birthday.label(class="form-control",
            placeholder="YYYY-MM-DD") }} {{ form.birthday(class="form-control",
            placeholder="YYYY-MM-DD", required="required") }} {% for error in
            form.birthday.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="styled-input agile-styled-input-top form-group">
            {{ form.gender.label(class="category2") }} {{
            form.gender(class="category2", required="required") }} {% for error
            in form.gender.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="styled-input agile-styled-input-top form-group">
            {{ form.marital.label(class="category2") }} {{
            form.marital(class="category2", required="required") }} {% for error
            in form.marital.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="styled-input form-group">
            {{ form.phonenumber.label(class="form-control", placeholder="Phone
            Number") }} {{ form.phonenumber(class="form-control",
            placeholder="Phone Number", required="required") }} {% for error in
            form.phonenumber.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="styled-input agile-styled-input-top form-group">
            {{ form.institution.label(class="category2") }} {{
            form.institution(class="category2", required="required") }} {% for
            error in form.institution.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="styled-input agile-styled-input-top form-group">
            {{ form.qualification.label(class="category2") }} {{
            form.qualification(class="category2", required="required") }} {% for
            error in form.qualification.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="styled-input agile-styled-input-top form-group">
            {{ form.grade.label(class="category2") }} {{
            form.grade(class="category2", required="required") }} {% for error
            in form.grade.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="styled-input agile-styled-input-top form-group">
            {{ form.state.label(class="category2") }} {{
            form.state(class="category2", required="required") }} {% for error
            in form.state.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="styled-input agile-styled-input-top form-group">
            {{ form.lga.label(class="category2") }} {{
            form.lga(class="category2", required="required") }} {% for error in
            form.lga.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="styled-input agile-styled-input-top form-group">
            {{ form.trcn.label(class="category2") }} {{
            form.trcn(class="category2", required="required") }} {% for error in
            form.trcn.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="styled-input agile-styled-input-top form-group">
            {{ form.courseofstudy.label(class="category2") }} {{
            form.courseofstudy(class="category2", required="required") }} {% for
            error in form.courseofstudy.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="styled-input">
            <label class="header-admin-form font-weight-bold text-dark my-3"
              >Your Address</label
            >

            <div class="form-group">
              {{ form.address.label(class="form-control", placeholder="Address")
              }} {{ form.address(class="form-control", placeholder="Address",
              title="Please enter your Address", required="required") }} {% for
              error in form.address.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>

            <div class="form-group">
              {{ form.city.label(class="form-control", placeholder="City") }} {{
              form.city(class="form-control", placeholder="City", title="Please
              enter your City", required="required") }} {% for error in
              form.city.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>

            <div class="form-group">
              {{ form.zipcode.label(class="form-control") }} {{
              form.zipcode(class="form-control", title="Please enter your Zip
              code", required="required") }} {% for error in form.zipcode.errors
              %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>

            <div class="form-group">
              {{ form.material_name.label(class="form-control") }} {{
              form.material_name(class="form-control", title="material_name ",
              required="required") }} {% for error in form.material_name.errors
              %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>

            <div class="form-group">
              {{ form.material_description.label(class="form-control") }} {{
              form.material_description(class="form-control",
              title="material_description", required="required") }} {% for error
              in form.material_description.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>

            <div class="form-group">
              {{ form.material_file.label(class="form-control") }} {{
              form.material_file(class="form-control", title="material_file",
              required="required") }} {% for error in form.material_file.errors
              %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>

          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </div>
  <!-- admission form -->

  <!-- brands -->
  <div class="brands-w3ls py-md-5 py-4">
    <div class="container py-xl-3">
      <ul class="list-unstyled">
        <li>
          <i class="fab fa-supple"></i>
        </li>
        <li>
          <i class="fab fa-angrycreative"></i>
        </li>
        <li>
          <i class="fab fa-aviato"></i>
        </li>
        <li>
          <i class="fab fa-aws"></i>
        </li>
        <li>
          <i class="fab fa-cpanel"></i>
        </li>
        <li>
          <i class="fab fa-hooli"></i>
        </li>
        <li>
          <i class="fab fa-node"></i>
        </li>
      </ul>
    </div>
  </div>
  <!-- //brands -->

  <!-- Calendar -->
  <link rel="stylesheet" href="css/jquery-ui.css" />
  <script src="js/jquery-ui.js"></script>
  <script>
    $(function () {
      $("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
    });
  </script>
  <!-- //Calendar -->
  {% endblock %}
</body>
