{% extends 'layout.html' %} {% block head %}
<title>Recruitment | Home</title>
{% endblock %} {% block body %}
<body>
  <!-- banner -->
  <!-- breadcrumb -->
  <div class="banner-agile">
    <ul class="slider">
      <li class="active">
        <div class="banner-w3ls-1"></div>
      </li>
      <li>
        <div class="banner-w3ls-2"></div>
      </li>
      <li>
        <div class="banner-w3ls-3"></div>
      </li>
      <li>
        <div class="banner-w3ls-4"></div>
      </li>
      <li class="prev">
        <div class="banner-w3ls-5"></div>
      </li>
    </ul>
    <ul class="pager">
      <li data-index="0" class="active"></li>
      <li data-index="1"></li>
      <li data-index="2"></li>
      <li data-index="3"></li>
      <li data-index="4"></li>
    </ul>
    <div class="banner-text-posi-w3ls">
      <div class="banner-text-whtree">
        <h3 class="text-capitalize text-white p-4">
          your bright future
          <b>is our mission!</b>
        </h3>
        <p class="px-4 py-3 text-dark">
          Become top-of-the-flight specialist after graduating!
        </p>
        <a
          href="about.html"
          class="button-agiles text-capitalize text-white mt-sm-5 mt-4"
          >read more</a
        >
      </div>
    </div>
  </div>
  <!-- //banner -->
  <!-- about -->
  <div class="about py-5">
    <div class="container py-xl-5 py-lg-3">
      <h3
        class="title text-capitalize font-weight-light text-dark text-center mb-5"
      >
        Welcome to
        <span class="font-weight-bold">Osun state recruitment Website</span>
      </h3>
      <div class="row pt-md-4">
        <div class="col-lg-6 about_right">
          <h3 class="text-capitalize text-right font-weight-light font-italic">
            interface friendly learning at
            <span class="font-weight-bold">Recruit</span>
          </h3>
          <p class="text-right my-4 pr-4 border-right">
            Welcome to Osun State Recruitment website, your trusted source for
            educational excellence in Nigeria. We are dedicated to empowering
            the future of our nation through quality education.
          </p>
          <div class="about_left-list">
            <h6 class="mb-lg-3 mb-2 font-weight-bold text-dark">
              Our Benefits
            </h6>
            <ul class="list-unstyled">
              <li class="mb-2">
                <i class="fas fa-check mr-3"></i>Quality Excellence
              </li>
              <li class="mb-2">
                <i class="fas fa-check mr-3"></i>Customer-Centric Approach
              </li>
              <li class="mb-2">
                <i class="fas fa-check mr-3"></i>Innovation and Cutting-Edge
                Technology
              </li>
              <li class="mb-2"><i class="fas fa-check mr-3"></i>Expert Team</li>
              <li class="mb-2">
                <i class="fas fa-check mr-3"></i>Tailored Solutions
              </li>
              <li class="mb-2">
                <i class="fas fa-check mr-3"></i>Reliability and Trustworthiness
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //about -->

  <!-- what we do -->
  <div class="why-choose-agile py-5">
    <div class="container py-xl-5 py-lg-3">
      <h3
        class="title text-capitalize font-weight-light text-white text-center mb-5"
      >
        what we
        <span class="font-weight-bold">do</span>
      </h3>
      <div class="row agileits-w3layouts-grid pt-md-4">
        <div class="col-lg-4 services-agile-1">
          <div class="row wthree_agile_us">
            <div class="col-lg-3 col-md-2 col-3 agile-why-text">
              <div class="wthree_features_grid text-center p-3 border rounded">
                <i class="fab fa-accusoft"></i>
              </div>
            </div>
            <div class="col-9 agile-why-text-2">
              <h4 class="text-capitalize text-white font-weight-bold mb-3">
                special education
              </h4>
              <p>
                Special education is a tailored approach to learning that is
                designed to meet the unique needs of students with disabilities.
              </p>
              <a
                class="btn mt-3 service-button p-0"
                href="about.html"
                role="button"
                >Read More
                <i class="fas fa-long-arrow-alt-right ml-1"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 services-agile-1 my-lg-0 my-5">
          <div class="row wthree_agile_us">
            <div class="col-lg-3 col-md-2 col-3 agile-why-text">
              <div class="wthree_features_grid text-center p-3 border rounded">
                <i class="fas fa-book"></i>
              </div>
            </div>
            <div class="col-9 agile-why-text-2">
              <h4 class="text-capitalize text-white font-weight-bold mb-3">
                full day session
              </h4>
              <p>
                Time during which an activity, event, or program takes place for
                the entirety of a regular workday.
              </p>
              <a
                class="btn mt-3 service-button p-0"
                href="about.html"
                role="button"
                >Read More
                <i class="fas fa-long-arrow-alt-right ml-1"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 services-agile-1">
          <div class="row wthree_agile_us">
            <div class="col-lg-3 col-md-2 col-3 agile-why-text">
              <div class="wthree_features_grid text-center p-3 border rounded">
                <i class="fas fa-users"></i>
              </div>
            </div>
            <div class="col-9 agile-why-text-2">
              <h4 class="text-capitalize text-white font-weight-bold mb-3">
                qualified teachers
              </h4>
              <p>
                Educators who meet specific criteria and standards established
                by educational authorities, institutions, or governing bodies.
              </p>
              <a
                class="btn mt-3 service-button p-0"
                href="about.html"
                role="button"
                >Read More
                <i class="fas fa-long-arrow-alt-right ml-1"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row agileits-w3layouts-grid mt-5">
        <div class="col-lg-4 services-agile-1">
          <div class="row wthree_agile_us">
            <div class="col-lg-3 col-md-2 col-3 agile-why-text">
              <div class="wthree_features_grid text-center p-3 border rounded">
                <i class="far fa-calendar-alt"></i>
              </div>
            </div>
            <div class="col-9 agile-why-text-2">
              <h4 class="text-capitalize text-white font-weight-bold mb-3">
                events
              </h4>
              <p>
                Organized occurrences or happenings that are often planned and
                structured to serve a particular purpose
              </p>
              <a
                class="btn mt-3 service-button p-0"
                href="about.html"
                role="button"
                >Read More
                <i class="fas fa-long-arrow-alt-right ml-1"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 services-agile-1 my-lg-0 my-5">
          <div class="row wthree_agile_us">
            <div class="col-lg-3 col-md-2 col-3 agile-why-text">
              <div class="wthree_features_grid text-center p-3 border rounded">
                <i class="fas fa-graduation-cap"></i>
              </div>
            </div>
            <div class="col-9 agile-why-text-2">
              <h4 class="text-capitalize text-white font-weight-bold mb-3">
                pre classes
              </h4>
              <p>
                is not a commonly used term in education. However, it's possible
                that you may be referring to several
              </p>
              <a
                class="btn mt-3 service-button p-0"
                href="about.html"
                role="button"
                >Read More
                <i class="fas fa-long-arrow-alt-right ml-1"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 services-agile-1">
          <div class="row wthree_agile_us">
            <div class="col-lg-3 col-md-2 col-3 agile-why-text">
              <div class="wthree_features_grid text-center p-3 border rounded">
                <i class="far fa-clock"></i>
              </div>
            </div>
            <div class="col-9 agile-why-text-2">
              <h4 class="text-capitalize text-white font-weight-bold mb-3">
                24/7 supports
              </h4>
              <p>
                Service or system is available and accessible to students or
                users around the clock
              </p>
              <a
                class="btn mt-3 service-button p-0"
                href="about.html"
                role="button"
                >Read More
                <i class="fas fa-long-arrow-alt-right ml-1"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //what we do -->

  <!-- brands -->
  <div class="brands-w3ls py-md-5 py-4">
    <div class="container py-xl-3">
      <ul class="list-unstyled">
        <li>
          <i class="fab fa-supple"></i>
        </li>
        <li>
          <i class="fab fa-angrycreative"></i>
        </li>
        <li>
          <i class="fab fa-aviato"></i>
        </li>
        <li>
          <i class="fab fa-aws"></i>
        </li>
        <li>
          <i class="fab fa-cpanel"></i>
        </li>
        <li>
          <i class="fab fa-hooli"></i>
        </li>
        <li>
          <i class="fab fa-node"></i>
        </li>
      </ul>
    </div>
  </div>
  <!-- //brands -->
  {% endblock %}
</body>
